<div class="row" style="background-color: #e4e5c0">
    <div class="column left">
        <div style="text-align:center">
            <h1>
                {{ title }}
            </h1>
        </div>
    </div>
    <div class="column right">
        <img src="https://www.librarything.com/pics/piles/downpile/18.jpg" style="max-height: 100px" alt="">
    </div>
</div>
    <div class="row">
    <div style="text-align:center">
        <a href="https://www.librarything.com/services/rest/documentation/1.1/" target="_blank">LibraryThing's API Documentation</a> | <a
        href="https://www.librarything.com/services/rest/1.1/?method=librarything.ck.getwork&id=1060&apikey=d231aa37c9b4f5d304a60a3d0ad1dad4" target="_blank">LibraryThing's Sample XML Response</a>
</div>

    <hr />
    <div style="text-align:center"><a href="https://canvas.harvard.edu/courses/35096/assignments/syllabus" target="_blank">CSCI-E31</a> Assignment 8 (Graduate Credit Extra Work)</div>
</div>
    <h1 style="text-align:center">Angular Client and Express Proxy Server</h1>
<div>Proxy Server technique used to reach a Web Service from LibraryThing.com that has <strong><span style="font-size: large;">No <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS" target="_blank">CORS</a> Allowed</span></strong></div>

<h3>PLEASE SEE README.md: <a href="https://github.com/wreilly/e31-assignment-08-proxy-and-client-wreilly/blob/master/README.md#e31-assignment-08-proxy-and-client-wreilly" target="_blank">https://github.com/wreilly/e31-assignment-08-proxy-and-client-wreilly/blob/master/README.md</a></h3>

    <hr />


<div class="row">
  <h3>0. FakeAPI</h3>
    <p><em>Just for contrast to the more complex Proxy Server for LibraryThing: here is a straightforward HTTP service.</em></p>
  <h4>Get 100 FakeAPI "Lorem Ipsum" Entries</h4>
  <div style="font-size: x-small;">1. HTTP REQ: https://jsonplaceholder.typicode.com/posts</div>
  <ul>
    <li>This API <em>does</em> allow CORS; there is no need for a Proxy Server.</li>
    <li>(Note: In the Angular Client app, I for convenience did put the HTTP request direct to FakeAPI.com inside of my "LibraryThingService".)</li>
</ul>
  <button type="submit" (click)="getFakeAPI($event)">Display FakeAPI Entries</button>
  <br />
  <br />
<button type="submit" on-click="clearFakeAPI()"><em>(Clear FakeAPI Entries)</em></button>
  <hr />
  <ol>
  <li *ngFor="let fapi of fakeApiStuff">
    {{ fapi.title }}
  </li>
</ol>
</div>
<div class="row" style="background-color: #bdd8ba">
        <div class="column left">
            <h3>1. LibraryThing - Web Services API</h3>
        </div>
        <div class="column right" style="align-content: center">
            <img src="http://pics.cdn.librarything.com/picsizes/24/bd/24bd271ed51344f5979696a5551434f414f4141.jpg"  style="max-height: 100px" alt="">
        </div>
    </div>
  <div class="row">

      <!-- e.g. 'http://104.236.198.117:3000/' -->
      <div style="font-size: x-small;">1. PROXY pointing to: {{ apiUrlStubInApp }} myspecialproxy/:book_id</div>
      <!-- Use "{{ '{' }}") to escape it. -->
      <div style="font-size: x-small;">2. HTTP REQ: http://www.librarything.com/services/rest/1.1/?method=librarything.ck.getwork&id=${{'{'}}book_id_passed{{'}'}}&apikey=59211e...</div>
      <ul>
        <li>This LibraryThing Web Service has the "No CORS Allowed" problem, and so this solution makes use of a Proxy Server.</li>
        <li>Uses my Angular app "LibraryThingService", for HTTP request first to the Proxy Server (hence from Proxy Server to LibraryThing).</li>
      </ul>
      <br />
      <div  style="background-color: #c8d3f4; padding: 15px;">
        <label for="bookId_id">LibraryThing Book ID # : </label>
        <input type="text" ref-bookId id="bookId_id" name="bookId_name" on-keydown.enter="getLtWsApi($event)" placeholder="e.g. 1528" />
        <br />
        <button type="submit" on-click="getLtWsApi(bookId)">Indicate Book ID# to Retrieve</button>
        <ul>
          <li>1528 = The Red Badge of Courage</li>
          <li>1527 = The Picture of Dorian Gray</li>
          <li>1526 = The Odyssey</li>
          <li>1525 = The Name of the Rose</li>
        </ul>
      </div>
      <ul>
        <li>Author: {{ myAuthor }}</li>
        <li>Title: {{ myTitle }}</li>
        <li>Rating: {{ myRating }}</li>
        <li>LibraryThing URL: <a href="{{myLtUrl}}" target="_blank">{{ myLtUrl }}</a></li>
      </ul>
      <h5 *ngIf="myCharacterNames.length">Character Names</h5>
      <ol>
        <li *ngFor="let cName of myCharacterNames">{{ cName }}</li>
      </ol>
</div>

<h3>PLEASE SEE README.md: <a href="https://github.com/wreilly/e31-assignment-08-proxy-and-client-wreilly/blob/master/README.md#e31-assignment-08-proxy-and-client-wreilly" target="_blank">https://github.com/wreilly/e31-assignment-08-proxy-and-client-wreilly/blob/master/README.md</a></h3>


<div class="center">
    <hr />
    <div>(c) Some Times Accesses LibraryThing, & Beyond 2018</div>
    <div>William Reilly - wreilly2001@gmail.com</div>
    <div>CSCI-E31 Assignment 8 (Graduate Credit Extra Work) - April 30, 2018</div>
    <hr />
</div>
